* {
    margin: 0;
    padding: 0;
}

:root {
    height: 120%;
}
header{
    padding: 20px 0;
}

main {
    flex-direction: row;
    flex-wrap: nowrap !important;
}

h2 {
    padding: 1em;
}

article {
    padding: 10px;
    width: 60%;
    border-right: 2px solid var(--accColor);
    overflow-y: auto;
}

article.about {
    font-size: larger;
    /* column-count: 2;
    column-gap: 35px;
    column-rule: 2px solid var(--accColor); */

    margin: 20px 10px;
}


aside.aboutImg {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

aside img {
    width: 100%;
    border-radius: 10px;
}

@media screen and (width < 802px) {
    :root {
        height: 125%;
    }

    main {
        flex-direction: column;
    }

    article.about {
        padding: none;
        width: 95%;
        border: none;
    }

    aside.aboutImg {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-items: space-evenly;
        justify-content: start;
    }

    aside.aboutImg img {
        width: 90%;
        margin: 10px 10px 20px;
    }
}