* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 15px auto;
}

h2 {
    padding: 1em;
}

/* header {
    border-bottom: 2px solid var(--secColor);
} */
article {
    padding: 10px;
    width: 60%;
    float: left;
    border-right: 2px solid var(--accColor);
    overflow-y: auto;
}
article.about {
    font-size: larger;
    /* column-count: 2;
    column-gap: 35px;
    column-rule: 2px solid var(--accColor); */

    margin: 20px 10px;
}


aside {
    width: 36%;
    float: right;
}
aside img{
    width: 70%;

    border: 10px ridge var(--accColor); 
    border-radius: 10px;
}
