:root {
    /* color scheme */
    --priColor: #007f5f;
    --secColor: #2b9348;
    --accColor: #ffc300;
    --neuColor: #FCF5E5;
    background-image: linear-gradient(to top, #FCF5E5 0%, var(--secColor) 100%);
    /* background-image: url("../images/Pool-Water-Texture.jpg"); */

}

body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-size: 100%;
    color: var(--secColor);
    background-color: var(--neuColor);

    width: 80%;
    max-width: 1280px;

    /* width: 1280px; */
    margin: 50px 7.8125%;
    /* margin: 100px 100px; */
    padding: 20px 1.5625%;
    /* padding: 20px 20px;  */
    border: 10px solid var(--accColor);
    /* border-radius: 30px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y: auto;
}

/* styles for the header */
header {
    font-size: 1em;
    width: 100%;
    height: auto;
    color: var(--secColor);
    background-color: var(--neuColor);
    /* padding: 10px 3.90625%;  */
    /* padding: 10px 50%; */
    margin: auto;
    /* border: 5px solid var(--accColor); */
    text-align: center;

    display: block;
    /* justify-content:center;
    align-items:center */
}

header h1 {
    color: var(--priColor);
    font-style: italic;
}

p.desc {
    font-style: italic;
    clear: both;
}

header h2 {
    font-style: italic;
    clear: both;
}

/* styles for the nav menu */
#nav_menu ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 50px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav_menu ul li {
    flex-basis: 25%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    /* width: 125px; */
    width: 100%;
    padding: 1em 0;
    text-decoration: none;
    background-color: var(--priColor);
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
    border-bottom: var(--accColor);
}

#nav_menu ul li a.lastitem {
    border-right: none;
}

#nav_menu ul li a.current {
    color: yellow;
}

/* styles for the main */
main h2 {
    font-style: italic;
}

/* styles for the main */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

main h2 {
    text-align: center;
}

/* styles for the homepage gallery */
.homeGallery {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template: repeat(2, 50%) / repeat(2, 50%);
    grid-gap: 5px;
}

.homeGallery a {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

.homeGallery img {
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    border-radius: 0;
    object-fit: contain;
    object-position: right;
}

/* styles for the section */
section.gallery {
    width: 100%;
    color: var(--secColor);
    padding: 0;
    margin: 0 auto;
    background-color: var(--accColor);
}

section {
    width: 90%;
    height: 100%;
    margin: 0;
    text-align: center;
    object-position: center;
}

/* styles for the footer */
footer {
    font-style: italic;
    clear: both;

    padding: 10px;
    border-top: 2px solid var(--accColor);
}

@media only screen and (width <=475px) {
    #mobile_menu {
        display: block;
    }

    #nav_menu {
        display: none;
    }

    header h1 {
        font-size: 20px;
    }

    main h2 {
        text-align: left !important;
        font-size: 18px;
    }
}

@media screen and (width > 475px) {
    #mobile_menu {
        display: none;
    }

    #nav_menu {
        display: block;
    }
}

@media screen and (width < 802px) {
    :root {
        height: 350%;
    }

    /* styles specific to the homepage */
    section.homeGallery {
        grid-template: repeat(4, 25%) / 100%;
    }

    section.homeGallery a {
        width: 100%;
    }

    section.homeGallery img {
        width: 100%;
        max-width: 100%;
        border: 0px inset var(--accColor);
    }

    /* styles specific to the gallery page */
    section.gallery {
        grid-template: repeat(6, 1fr) / repeat(1, 1fr);
    }

    /* styles specific to the about page */

}

/* Color schemes:
Earthy Tones:
    Primary Color: #8B5A2B (Brown)
    Secondary Color: #A0522D (Dark Orange)
    Accent Color: #3CB371 (Medium Sea Green)
    Neutral Color: #F5F5F5 (White Smoke)
Oceanic Blue:
    Primary Color: #0077be (Ocean Blue)
    Secondary Color: #50B2E6 (Sky Blue)
    Accent Color: #4d4dff (Royal Blue)
    Neutral Color: #FFFFFF (White)
Sunrise Orange:
    --priColor: #FDB813;
    --secColor: #FDD13E;
    --accColor: #3B3B3B;
    --neuColor: #FFFFFF;
    Primary Color: #FDB813 (Sunrise Orange)
    Secondary Color: #FDD13E (Gold)
    Accent Color: #3B3B3B (Black)
    Neutral Color: #FFFFFF (White)
Forest Green:
    Primary Color: #007f5f (Forest Green)
    Secondary Color: #2b9348 (Green)
    Accent Color: #FFC300 (Yellow)
    Neutral Color: #F5F5F5 (White Smoke)
Lavender Purple:
    Primary Color: #6B5B95 (Lavender Purple)
    Secondary Color: #9B9EAA (Gray)
    Accent Color: #E53935 (Red)
    Neutral Color: #FFFFFF (White)
    */